<h1>Add an Employee</h1>
<a [routerLink]="['/home']">Home</a>
<form #addEmployeeForm="ngForm" (ngSubmit)="submitNewEmployee(addEmployeeForm)">
  <label for="name">Name</label>
  <input
    type="text"
    id="name"
    name="name"
    placeholder="Enter the Employees name"
    ngModel
  />
  <label for="field">Field</label>
  <input
    type="text"
    id="field"
    name="field"
    placeholder="Enter the Employees field of expertise"
    ngModel
  />
  <label for="exp">Experience</label>
  <input
    type="text"
    id="exp"
    name="exp"
    placeholder="Enter the Employees experience in Months"
    ngModel
  />
  <label for="address">Address</label>
  <input
    type="text"
    id="address"
    name="address"
    placeholder="Enter the Employees address"
    ngModel
  />
  <button>Submit</button>
</form>
