<div class="container">
  <div class="header">
    <h1 class="header-title">Add an Employee</h1>
    <div class="nav">
      <a class="nav-link" [routerLink]="['/home']">Home</a>
      <a class="nav-link" [routerLink]="['/talent-page']">View all Employees</a>
      <a class="nav-link" [routerLink]="['/find-talent']"
        >Search for Employees</a
      >
    </div>
  </div>
  <div class="form-container">
    <form
      class="form"
      #addEmployeeForm="ngForm"
      (ngSubmit)="submitNewEmployee(addEmployeeForm)"
    >
      <div class="form-entry">
        <label class="form-label" for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter the Employees name"
          ngModel
        />
      </div>
      <div class="form-entry">
        <label class="form-label" for="field">Field</label>
        <input
          type="text"
          id="field"
          name="field"
          placeholder="Enter the Employees field of expertise"
          ngModel
        />
      </div>
      <div class="form-entry">
        <label class="form-label" for="exp">Experience</label>
        <input
          type="text"
          id="exp"
          name="exp"
          placeholder="Enter the Employees experience in Months"
          ngModel
        />
      </div>
      <div class="form-entry">
        <label class="form-label" for="address">Address</label>
        <input
          type="text"
          id="address"
          name="address"
          placeholder="Enter the Employees address"
          ngModel
        />
      </div>
      <button class="submit">Submit</button>
    </form>
  </div>
</div>
