<h1>Find an Employee</h1>
<a [routerLink]="['/home']">Home</a>
<form>
  <label for="name">Search by Name</label>
  <input
    type="text"
    id="name"
    name="name"
    placeholder="Enter the Employees name"
    ngModel
  />
  <button>Search</button>
</form>
<form>
  <label for="field">Search by Field of Expertise</label>
  <input
    type="text"
    id="field"
    name="field"
    placeholder="Enter the Employees field of expertise"
    ngModel
  />
  <button>Search</button>
</form>
<form>
  <label for="exp">Search by Experience</label>
  <input
    type="text"
    id="exp"
    name="exp"
    placeholder="Enter the Employees Experience in Months"
    ngModel
  />
  <button>Search</button>
</form>
